<h1 class="mb-4">{{list.name}}</h1>

<table class="table table-hover table-striped">
  <thead class="table-primary">
    <tr>
      <th>University</th>
      <th>Program</th>
      <th>Deadline</th>
      <th>Submission Status</th>
      <th>Application Status</th>
      <th>URL</th>
      <th>Requirements</th>
      <th>Memo</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each trackers}}
    <tr>
      <td>{{this.university}}</td>
      <td>{{this.program}}</td>
      <td>{{this.deadline}}</td>
      <td>{{this.submissionStatus}}</td>
      <td>{{this.applicationStatus}}</td>
      <td><a href="{{this.url}}" target="_blank">Link</a></td>
      <td>{{this.requirements}}</td>
      <td>{{this.memo}}</td>
      <td>
        <a href="/dashboard/{{../list.slug}}/{{this._id}}/edit" class="btn btn-primary">Edit</a>
      </td>
      <td>
        <form action="/dashboard/{{../list.slug}}/{{this._id}}/delete-tracker" method="POST" class="delete-form">
          <button type="submit" class="btn btn-secondary">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<form action="/dashboard/{{list.slug}}/create-tracker" method="GET" class="mb-3">
    <button class="btn btn-primary" type="submit">Add New Tracker</button>
</form>

<form action="/dashboard" method="GET">
    <button class="btn btn-secondary" type="submit">Home</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const deleteForms = document.querySelectorAll('.delete-form');
    deleteForms.forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting through standard means
            const form = this; // 'this' refers to the form that was submitted

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit(); // Submit the form programmatically if the user confirmed
                }
            });
        });
    });
});
</script>
